

p{font-family: serif; font-size: 20px;font-size-adjust: auto;text-align: center;}
.ww{font-size: 20px}
.ee{font-size: 20px}
.container{width: 100%;
background-image: url(../images/p.jpg);
background-position: top;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
height: 700px
}
.p{text-decoration:none;}
h1{color: white; text-align: center;}
h2{color:white}
p{color: white}
